.DS_Store
*.log
# *migrations/
digipal/static/digipal/scripts/tests/screenshots/
digipal/static/digipal/scripts/tests/local_config.js
*.pot
*.pyc
local_settings.py
digipal/settings.py
digipal/search/
.gitignore
digipal/backups/*.sql
digipal/repo_cfg.py
digipal_cust/static/
digipal_cust/django_cache/

digipal/migrations/0012_*.py
digipal/migrations/0013_*.py
digipal/migrations/0014_*.py
digipal/migrations/0015_*.py
digipal/migrations/0016_*.py
digipal_text/migrations/0004_*.py
digipal_project/static/
digipal_project/django_cache/
digipal_project/migrations/
digipal_project/search/
digipal_project/database/
digipal_project/images/
digipal_project/media/
digipal_project/backups/*.sql
