{% for image in images %}
    <div class="centered">
        <div class="panel panel-thumb">
            <span class="folio-image-wrapper">
                <a href="{{ image.url }}" target="_blank">{{ image.thumbnail }}</a>
                <br><br>
                <span>
                  {% if image.locus %}
                    {{ image.locus }}
                  {% else %}
                    #{{ image.id }}
                  {% endif %}
                </span>
            </span>
        </div>
    </div>
{% endfor %}
